{% extends 'layout.html' %}

{% block content %}
<div class="container text-center bg-light p-4">
    <h2 class="text-dark">Mikołaj Kochaniak</h2>
    <hr class="bg-dark" style="height: 2px;">
    <p class="text-secondary">Informatyka stosowana</p>
    <p class="text-secondary">Uniwersytet Ekonomiczny w Krakowie</p>
    <p class="text-secondary">Uniwersytet Ekonomiczny w Krakowie (UEK) - jedna z pięciu polskich państwowych wyższych szkół ekonomicznych. Pod względem liczby studentów, jest największym w Polsce oraz jednym z największych w Europie uniwersytetem poświęconym naukom ekonomicznym</p>
</div>

  
{% endblock %}