{% extends 'layout.html' %}
{% block content %}


    
    <table class="table table-success table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nazwa produktu</th>
                <th scope="col">Liczba opinii</th>
                <th scope="col">Liczba wad</th>
                <th scope="col">Liczba zalet</th>
                <th scope="col">Średnia ocena</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td><a href="produkt">Rower</a></td>
                <td>5</td>
                <td>4</td>
                <td>3</td>
                <td>3,5</td>
                <td><button>Download .json</button></td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td><a href="produkt">Rower</a></td>
                <td>5</td>
                <td>4</td>
                <td>3</td>
                <td>3,5</td>
                <td><button>Download .json</button></td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td><a href="produkt">Rower</a></td>
                <td>5</td>
                <td>4</td>
                <td>3</td>
                <td>3,5</td>
                <td><button>Download .json</button></td>
            </tr>

        </tbody>
    </table>
    

    
{% endblock %}